# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# -------------------------- gitignore large files ------------------------------
# raw data folders: 
# LSOA boundary
data/raw_data/Lower_layer_Super_Output_Areas_December_2021_Boundaries_EW_BFC_V10*
# LSOA population weighted centroids
data/raw_data/LSOA_PopCentroids_EW_2021_V4_-7256415914866551835*
# Greenspace access points and polygons
data/raw_data/OS-Open-Greenspace-GB*
# rail timetable zip
data/raw_data/timetable.zip*

# java
rjavaenv*
.Rprofile

# pre-filtered files:
# London LSOA
data/lsoa_london*
# Greenspace London
data/greenspace_london*
# Greenspace London > 2ha
data/greenspace_london_2ha*
# London LSOA population weighted centroids
data/london_lsoa_pop_weighted_centroids*
# IMD2025
data/File_1_IoD2025_Index_of_Multiple_Deprivation.xlsx
# census 2021
data/census_2021

#
data/r5r_v2.3.1_TTM*
data/gtfs_originals*
data/r5r_TTM*
data/raw_data/r5r_raw
# geopackage and csv
data/multimodal_travel_time_lsoa*

# GEE files
data/London_LSOA_LST_SUHI*
data/greenspace_buffer_LST*

# R process files
data/cooling_effective_UGS*

# r5r data: 
data/r5r*rjavaenv/
data/r5r/
